* {
    font-family: "Nunito Sans", sans-serif;
}

nav {
    text-align: center;
    /* border: 1px solid black; */
    background-color: rgb(210, 219, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
}

nav > a {
    color: rgb(21, 21, 21);
    text-decoration: none;
    margin-left:4px;
    margin-right:4px;
    font-size: 16px;
}

body {
    background-color: rgb(243, 253, 244);
}

.topSection {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topSection > p {
    display: inline-block;
    margin: 0px;

}

.topSection img {
    display: inline-block;
    width: 400px;
}

.gallery {
    text-align: center;
}

img {
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5 );
    margin: 10px;
}


.info{
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;    
    background-color: rgb(173, 195, 133);
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1  h1 {
    text-align: center;
}


.footer {
    background-color: rgb(210, 219, 255);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: square;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(236, 193, 236);
}

